//-
  Author: Tim Aryavong
  Date: June 6, 2020
  Course: Javascript Frameworks
  Decription: generic footer for all pages.
  Additional: Comments in pug are weird, tab spacing is important. '//-' makes it visible only in the markup, tabbing under the '//-' makes a block comment

footer
  hr
  p Tim Aryavong 200176280 200176280@student.georgianc.on.ca