//-
  Author: Tim Aryavong
  Date: June 6, 2020
  Course: Javascript Frameworks
  Decription: generic error page
  Additional: probably could utilize this better, note sure how. Only changed extends partials/header

extends partials/header

block content
  h1= message
  h2= error.status
  pre #{error.stack}